*{
    margin: 0;
    padding: 0;
}
body{
    font: 14px Helvetica, Sans-Serif;
} 
#page-wrap{
    width: 800px;
    margin: 25px auto;
} 
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    margin: 15px 0;
}
/* 
        LEVEL ONE
*/
ul.dropdown{
    position: relative;
}
ul.dropdown li{
    font-weight: bold;
    float: left;
    zoom: 1;
    height: 58px;
    vertical-align: 50px;
   /* padding:8px 0px;*/
}
ul.dropdown a:hover{
    /*color: #000; */
    color: #fff;
    text-decoration: none;
}
ul.dropdown a:active{
    /*color: #ffa500;*/
    font: normal 14px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: #77a2e0;
    text-decoration: none;
}
ul.dropdown li a
{ display: table-cell;
  /*padding: 4px 8px;
  border-right: 1px solid #333;
  color: #222;*/
  font: normal 15px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

  color: #77a2e0;
  text-decoration: none;
  vertical-align: middle;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
ul.dropdown li:last-child a
{ 
    border-right: none;
} /* Doesn't work in IE */
ul.dropdown li.hover,ul.dropdown li:hover
{ 
    /*background: #F3D673;
    color: black;*/
    color: #fff;
    position: relative;
}
ul.dropdown li.navigation_radius.hover a
{   color: black;
    font-weight: bolder;
}
ul.dropdown li.navigation_radius a
{   color: black;
    font-weight: bolder;
}
/* 
        LEVEL TWO
*/
ul.dropdown ul{ 
    width: 220px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;

}
ul.dropdown ul li{ 
    font-weight: normal;
    background:url('../../images/bg_link.jpg');
    color: #000;
    border: 1px solid #fff;
    display:block;
    float: none;
    height: 30px;
    min-height: 30px;
    /*    vertical-align: middle;*/
    padding-left: 5px;
    padding-top: 5px;
}
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a{
    display:inline-block;
    border-right: none;
    height: 30px;
    width: 100%;
}
ul.dropdown li.navigation_radius.hover ul li a
{   color: #77a2e0;
    font-weight: normal;
}
ul.dropdown li.navigation_radius.hover ul li a:hover
{   color: #fff;
    font-weight: normal;
}

/* 
        LEVEL THREE
*/
ul.dropdown ul ul{
    left: 100%;
    top: 0;
}
ul.dropdown li:hover > ul{
    visibility: visible;
}